* {
    margin: 0;
    padding: 0;
}
body{

    width: 100%;
    height: 100vh;
    background-image: url(./clock.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    padding: 70px 30px;
    width: 400px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background:linear-gradient(white,black);
}
.textblock {
    padding: 20px;
    font-size: 20px;
}
h1,p{
    color: #f8f8f8;
}
button {
    padding: 15px 15px;
    margin: 30px 10px;
    border-radius: 15px;
    border: 4px solid #f8f8f8;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #f8f8f8;
}